@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: 0 0 0;
  --color-white: 255 255 255;
  --color-gray: 128 128 128;

  --color-eerie-black: 28 35 33;
  --color-honeydew: 241 250 238;
  --color-paynes-gray: 94 101 114;
  --color-persian-green: 0 168 150;
  --color-burnt-umber: 140 39 30;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-black: 255 255 255;
    --color-white: 0 0 0;
    --color-gray: 128 128 128;

    --color-eerie-black: 227 220 222;
    --color-honeydew: 14 5 17;
    --color-paynes-gray: 161 154 141;
    --color-persian-green: 255 87 105;
    --color-burnt-umber: 115 216 225;
  }
} */

body {
  color: rgb(var(--color-eerie-black));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::selection {
  background: teal;
  color: yellow;
}
